body {
    background-color: rgb(240, 239, 216);
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 5vh auto 0 auto;
    padding: 20px;
    background-color: rgb(255, 245, 232);
    border-radius: 20px;
    font-size: 15px;
    gap: 20px;

    width: auto; 
    min-width: 890px; 
    height: auto; 
    overflow: visible; 
}

#displayCustomer, #displayProduct {
    width: 100%; 
    max-width: 100%; 
    position: relative;
    left: 10px;
}

.form1, .form2 {
    min-height: 100px;
    flex-grow: 1; 
    overflow-y: auto; 
}


.orderContainer {
    justify-content: center;
    width: 870px;
    margin: 5vh auto 0 auto;
    padding: 20px;
    background-color: rgb(255, 245, 232);
    border-radius: 20px;
    font-size: 15px;
    gap: 20px;
}

.head {
    text-align: center;
    margin-top: 50px;
}

.form1, .form2 {
    padding: 10px;
    border-radius: 10px;
    text-align: center;

}

.customerList, .productList {
    margin-top: 10px;
}

.error1, .error2 {
    color: red;
    font-size: 15px;
}

input, select {
    padding: 7px;
    border-radius: 10px;
}

select {
    border: 2px solid;
    width: 200px;
}

button {
    padding: 7px;
    border-radius: 7px;
    background-color: rgb(255, 245, 232);
}

.btnDiv {
    text-align: center;
}

#btn1 {
    width: 890px;
    margin-top: 15px;
}

.customerContainer {
    margin: 2vh auto 5vh 34vh;
}

#add {
    position: relative;
    left: 500px;
    top: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

#productTable {
    width: 750px;
}

#gt{
    position: relative;
    left: 615px;
}

#saveOrder {
    position: relative;
    left: 200px;
    top: 10px;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    background-color: rgb(230, 226, 222);
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#invoiceContainer {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

#pay {
    margin-top: 20px;
    margin-bottom: 20px;
}

#invoiceTable {
    width: 100%;
    text-align: center;
    background-color: rgb(250, 244, 237);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

#payButton {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}



